## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,78.62,broken clouds,-23.1203,-134.9692,People ThankYou
1,10,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn
2,12,Hilo,US,78.24,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,15,Dakar,SN,72.48,broken clouds,14.6937,-17.4441,Redface Studios Meublés
4,19,Saint-Philippe,RE,78.39,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...,...
211,732,Richards Bay,ZA,75.79,broken clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
212,733,Maraa,BR,76.39,overcast clouds,-1.8333,-65.3667,name
213,734,Pedernales,DO,78.94,clear sky,18.0384,-71.7440,Hotel Costa Marina
214,737,Acandi,CO,78.66,scattered clouds,8.5063,-77.2778,Hotel Patio Bonito
215,743,Mormugao,IN,72.03,clear sky,15.4000,73.8000,Coconut Creek Resort

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Burnie"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Burnie"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Victor Harbor"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Geraldton"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Carnarvon"]

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(map(tuple,(vacation_start[['Lat', 'Lng']].to_numpy())))[0]
end = tuple(map(tuple,(vacation_end[["Lat", "Lng"]].to_numpy())))[0]
stop1 = tuple(map(tuple,(vacation_stop1[["Lat", "Lng"]].to_numpy())))[0]
stop2 =  tuple(map(tuple,(vacation_stop2[["Lat", "Lng"]].to_numpy())))[0]
stop3 = tuple(map(tuple,(vacation_stop3[["Lat", "Lng"]].to_numpy())))[0]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,209,Burnie,AU,74.95,broken clouds,-41.0667,145.9167,Beachfront Voyager Motor Inn
1,639,Victor Harbor,AU,79.72,broken clouds,-35.5667,138.6167,McCracken Country Club
2,255,Geraldton,AU,73.81,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort
3,104,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))